.container{
    background-color:#1d1b1b;
    padding: 50px 0;
}

.img{
    border-radius:5px;
    width:100%;
}

.features{
    color:white;
}

.id{
    color:gray;
}

.sub-heading{
    font-size:20px;
}

.btn-container{
    margin-bottom:30px;
}

.btn{
    display: inline-flex;
    padding:8px 20px;
    border-radius:3px;
    margin-right:20px;
    text-transform: uppercase;
    font-size:14px;
    font-weight: medium;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;

    &__outlined{
        border:1px solid white;
        color:white;

        &:hover{
            color:#A4A5FF;
            box-shadow:4px 4px #A4A5FF;
            text-decoration: none;
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
    &__filled{
        background-color:#696bff;
        color:white;

        &:hover{
            box-shadow:4px 4px white;
            text-decoration: none;
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
}